<!DOCTYPE html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Página Inicial</title>
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <a class="btn btn-primary" 
           style="margin-bottom: 10px" 
           href="/novo"><h1>Cadastrar Usuário</h1></a>
        <br>
        <a class="btn btn-primary" 
           style="margin-bottom: 10px" 
           href="/listar"><h1>Lista de Usuários</h1></a>
        
        <script src="http://code.jquery.com/jquery.js" />
        <script src="/bootstrap/js/bootstrap.min.js" />
    </body>
</html>
